<% layout('layouts/boilerplate')%>
<div class="container-fluid">
    <div class="row">
        <%- include('../partials/sidebar', {variant: 'fests'}) %>
        <div role="main" class="col-md-9 ms-md-auto col-lg-10 px-4">
            <h1 class="h1 text-center my-4">Festivals</h1>
            <hr>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="table-light">
                            <th scope="col" class="sortable d-flex gap-1" data-sortkey="title"><p>Nom</p><div class="position-relative p-1"><i class="fa-solid fa-sort-up position-absolute" ></i><i class="fa-solid fa-sort-down position-absolute"></i></div></th>
                            <th scope="col">Adresse</th>
                            <th scope="col" class="sortable" data-sortkey="creation_year"><div class="d-flex gap-1"><p>Année</p><div class="position-relative p-1"><i class="fa-solid fa-sort-up position-absolute" ></i><i class="fa-solid fa-sort-down position-absolute"></i></div></div></th>
                            <th scope="col" class="sortable d-flex gap-1" data-sortkey="attendance"><p>Nbr d'entrée</p><div class="position-relative p-1"><i class="fa-solid fa-sort-up position-absolute" ></i><i class="fa-solid fa-sort-down position-absolute"></i></div></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    const headers = document.querySelectorAll('.sortable');
    const arrowUps = document.querySelectorAll('.fa-sort-up');
    const arrowDowns = document.querySelectorAll('.fa-sort-down');
    headers.forEach(header => {
        header.addEventListener('click', () => {

            const sortKey = header.getAttribute('data-sortkey');
            const sortOrder = header.classList.contains('asc') ? -1 : 1;
            const arrowUp = document.querySelector(`th[data-sortkey="${sortKey}"] .fa-sort-up`);
            const arrowDown = document.querySelector(`th[data-sortkey="${sortKey}"] .fa-sort-down`);

            // trier les données
            if (sortKey === 'title'){
                fests.sort((a, b) => sortOrder*a.title.localeCompare(b.title, 'fr', { sensitivity: 'base' }));
            } else {
                fests.sort((a, b) => {
                const aValue = a[sortKey];
                const bValue = b[sortKey];

                if (aValue < bValue) {
                    return -sortOrder;
                } else if (aValue > bValue) {
                    return sortOrder;
                } else {
                    return 0;
                }
            });
            }


            // inverser l'ordre de tri
            headers.forEach(header => header.classList.remove('asc'));
            arrowUps.forEach(arrowUp => arrowUp.classList.remove('text-body-tertiary'));
            arrowDowns.forEach(arrowDown => arrowDown.classList.remove('text-body-tertiary'));
            if(sortOrder!=-1){
                header.classList.toggle('asc');
                arrowUp.classList.toggle('text-body-tertiary')
            } else {
                arrowDown.classList.toggle('text-body-tertiary')
            }
            // mise à jour de la table
            renderTable();
        });
    });

    function renderTable() {
        const tableBody = document.querySelector('tbody');
        tableBody.innerHTML = `
            <tr>
            <td colspan="7" class="text-center"><a href="/fests/new" class="btn btn-dark bnt-sm">Nouveau</a></td>
            </tr>`;

        fests.forEach(fest => {
            const row = document.createElement('tr');
            const mailingAddress = fest.mailing_adress ? `${fest.mailing_adress}` : '';
            row.innerHTML = `
                <th scope="row">${fest.title}</th>
                <td>${mailingAddress} ${fest.zip_code} ${fest.municipality}</td>
                <td>${fest.creation_year}</td>
                <td>${fest.attendance}</td>
                <td><a href="/fests/${fest.id}" target="_blank" class="btn btn-info btn-sm">Voir</a></td>
                <td><a href="/fests/${fest.id}/edit" class="btn btn-warning btn-sm">Modifier</a></td>
                <td>
                    <form action="/fests/${fest.id}?_method=DELETE" method="post">
                        <button class="btn btn-danger btn-sm">Supprimer</button>
                    </form>
                </td>
            `;

            tableBody.appendChild(row);
        });
    }

    let fests = <%- JSON.stringify(fests) %>;
    renderTable();
</script>
<!-- <script src="/libs/js/bootstrap.bundle.min.js"></script> -->

