#fest-show-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 4rem 1rem;
    .poster-container{
        max-width: 600px;
        justify-self: end;
        align-self: center;
        img{
            width: 100%;
            border-radius: 20px;
        }
    }
    .info-container{
        max-width: 600px;
    }
    .links{
        @include flex(end)
    }
    .btn-more{
        background-color: #E2E2E2;
    }
    h1{
        font-size: 30px;
        font-weight: 700;
        margin: 1rem 0;
    }
    p{
        line-height: 20px;
    }
    .tags{
        @include flex(start);
        flex-wrap: wrap;
        gap: 5px;
        margin: 1rem 0;

    }
    .tag{
        font-size: 12px;
        font-weight: 500;
        display: block;
        background-color: #ddd;
        padding: 7px 10px ;
        border-radius: 20px;
    }


    //              Accordion
    .accordion{
        display: block;
        position: relative;
        overflow: hidden;
        max-height: 20px;
        transition: all .3s ease-in-out;
        &.open{
                padding-bottom: 15%;
        }   
      }
      .more{
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        user-select: none   ;
        margin-bottom: 5px;
      }
      .content{
        p{
            font-size: 14px;
        }
      }



}