//*************************************************************
// Global
//*************************************************************

@include reset-css;
@font-face {
    font-family: "anja";
    src: url("../font/Anja.ttf");
}
@font-face {
    font-family: "rubik";
    src: url("../font/Rubik.ttf");
}
body{
    font-family: "rubik";
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F6F7F1;
}
p{
    line-height: 25px;
    letter-spacing: 2px;
}

html{
    scroll-behavior: smooth;
}

.display-none{
    display: none !important;
}
.button{
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 40px;
    display: inline-block;
    font-weight: 500;
}
strong{
    font-weight: 500;
}
th{
    font-weight: 500;
}


.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    padding: 110px 0 0 10px;
    border-right: 1px solid #d3d3d3;
}

.left-sidebar {
    position: sticky;
    top:0;
    height: calc(100vh - 70px)
}