#page-header{
    min-height: 250px;
    @include flex;
    h1{
        transform: translate(0, -30px);
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;
        color: $thirdcolor;
        text-shadow: 
        0 0 2px $thirdcolor,
        0 0 10px $glow;
    }
}
header{
    background: url('../img/banner_3.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
}

.overlay-dark{
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}