<footer>
    <div class="footer-container">
      <span class="text-muted">French Fest &copy; 2023</span>
      <ul class="footer-links">
        <li><a href="/">Accueil</a></li>
        <li><a href="/fests">Festivals</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </footer>