<header id="page-header">
  <img src="/img/guitare.png" alt="" class="guitare guitare1" />
  <img src="/img/guitare.png" alt="" class="guitare guitare2" />
  <img src="/img/radio.png" alt="" class="radio radio1" />
  <img src="/img/radio.png" alt="" class="radio radio2" />
  <img src="/img/note1.png" alt="" class="note1 note11" />
  <img src="/img/note1.png" alt="" class="note1 note12" />
  <img src="/img/note2.png" alt="" class="note2 note21" />
  <img src="/img/note2.png" alt="" class="note2 note22" />
  <h1>le festival</h1>
</header>
