<div id="navbar-container">
  <div>
    <img src="img/french_fests_dark.png" alt="" />
  </div>
  <div class="burger">
    <i class="fa fa-bars fa-2x"></i>
    <i class="fa fa-times fa-2x"></i>
  </div>
  <nav class="navbar">
    <ul class="nav-links">
      <li class="nav-link"><a aria-current="page" href="#">Home</a></li>
      <li class="nav-link"><a href="/campgrounds">Festivals</a></li>
      <li class="nav-link"><a href="/campgrounds">Actus</a></li>
      <li class="nav-link"><a href="/login">Login</a></li>
      <li class="nav-link"><a href="/register">Register</a></li>
      <li class="nav-link"><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</div>
