<div id="navbar-container">
  <div>
    <a href="/"><img src="/img/french_fests_dark.png" alt="" /></a>
  </div>
  <div class="nav-user">
    <button class="btn btn-login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Se connecter</button>
    <button class="btn btn-register"><i class="fa fa-user"></i> S'inscrire</button>
  </div>
  <div class="burger">
    <i class="fa fa-bars fa-2x"></i>
    <i class="fa fa-times fa-2x"></i>
  </div>
  <nav class="navbar">
    <ul class="nav-links">
      <li class="nav-link"><a aria-current="page" href="/">Home</a></li>
      <li class="nav-link"><a href="/fests">Festivals</a></li>
      <li class="nav-link"><a href="/campgrounds">Actus</a></li>
      <li class="nav-link"><a href="/register">Register</a></li>
      <li class="nav-link"><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</div>

<div id="modal-register" class="display-none">
  <div class="modal-content"> 
    <h3>Inscrivez-vous</h3>
    <h6>C'est simple et gratuit. Cela vous permet de partager votre avis avec des miliers de fétard dans la monde.</h6>
    <span class="close"><i class="fa-solid fa-xmark"></i></span>
    <div class="modal-body">
      <div>
          <label for="username">Nom d'utilisateur</label>
          <input type="text" name="username" id="username" placeholder="Nom d'utilisateur">
      </div>
      <div>
        <label for="mail">E-mail</label>
        <input type="text" name="mail" id="mail" placeholder="E-mail">
      </div>
      <div>
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" placeholder="Mot de passe">
      </div>
      <div>
        <label for="password-confirm">Confirmer le mot de passe</label>
        <input type="password" name="password-confirm" id="password-confirm" placeholder="Confirmer le mot de passe">
      </div>
        <button class="btn btn-submit-register">S'inscrire</button>
      </div>
  </div>
</div>
