<!-- Sidebar -->
<aside class="col-md-2 bg-light d-none d-md-block sidebar">
    <nav class="left-sidebar navbar align-items-start">
        <ul class="navbar-nav flex-column sidebar-nav ">
            <li class="nav-item">
                <a <% if (variant==="fests"){ %>   class="nav-link active" href="#" <% }else{ %> class="nav-link" href="/admin/fests" <% } %>>
                    <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                            clip-rule="evenodd" /></svg>
                    Festivals
                </a>
            </li>
            <li class="nav-item">
                <a <% if (variant==="users"){ %>   class="nav-link active" href="#" <% }else{ %> class="nav-link" href="/admin/users" <% } %>>
                    <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                            clip-rule="evenodd" /></svg>
                    Utilisateurs
                </a>
            </li>
            <li class="nav-item">
                <a <% if (variant==="comments"){ %>   class="nav-link active" href="#" <% }else{ %> class="nav-link" href="/admin/comments" <% } %>>
                    <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                            clip-rule="evenodd" /></svg>
                    Commentaires
                </a>
            </li>
        </ul>
    </nav>
</aside>