<% layout('layouts/boilerplate')%>
<section id="contact-section">

    <div class="contact-container">
        <div class="contact-form-container">
        <h3>Formulaire de contact</h3>
        <form class="contact-form" action="/send-email" method="POST" onsubmit="return validateContactForm(event)">
            <div class="form-control">
                <label for="contact-name">Nom</label>
                <input type="text" id="contact-name" name="name" placeholder="Votre nom"  />
                <small></small>
            </div>
            <div class="form-control">
                <label for="contact-email">Email</label>
                <input type="email" id="contact-email" name="email" placeholder="Votre adresse email"  />
                <small></small>
            </div>
            <div class="form-control">
                <label for="contact-subject">Sujet</label>
                <input type="text" id="contact-subject" name="subject" placeholder="Le sujet de votre message" />
                <small></small>
            </div>
            <div class="form-control">
                <label for="contact-message">Message</label>
                <textarea id="contact-message" name="message" placeholder="Votre message"></textarea>
                <small></small>
            </div>
            <button class="button" type="submit">Envoyer</button>
        </form>
        </div>
        <div class="contact-info-container">
            <h3>Information de Contact</h3>
            <ul class="contact-info-list">
                <li>
                    <i class="fa-solid fa-envelope"></i>
                    <p>contact@frenchfest.com</p>
                </li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    <p>06 01 29 24 14</p>
                </li>
                <li>
                    <i class="fa-solid fa-map-marker"></i>
                    <p>12 rue de la Liberté<br />75001 Paris, France</p>
                </li>
            </ul>
        </div>
    </div>
</section>

