<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>French fests</title>
    <link rel="stylesheet" href="libs/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <%- include("partials/navbar") %>

    <header id="home-header">
      <div class="black-overlay overlay"></div>
      <p>Decouvrez tous les plus grands festivals de france, les derniers artistes annoncés, les dates des concerts, ...</p>
      <p>Trouvez le festival qui vous correspond !</p>
      <a href="/campgrounds" class="btn glitch" data-text="Voir les festivals">Voir les festivals</a>
    </header>
    <%- include("partials/footer") %>
    <script src="js/effects.js"></script>
  </body>
</html>
