<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>French fests</title>
    <link rel="stylesheet" href="libs/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <%- include("partials/navbar") %>

    <header id="home-header">
      <div class="black-overlay overlay"></div>
      <p><strong>Bienvenue sur notre page dédiée aux plus grands festivals de France !</strong></p>
      <p>Ici, vous trouverez toutes les informations essentielles pour vivre une expérience musicale inoubliable. Nous avons rassemblé pour vous les festivals les plus renommés du pays, avec les derniers artistes annoncés, les dates des concerts et bien d'autres informations utiles.</p>
      <a href="./fests" class="btn-home glitch" data-text="Voir les festivals">Voir les festivals</a>
    </header>
    <%- include("partials/footer") %>
    <script src="js/effects.js"></script>
    <script src="/js/check_form.js"></script>
  </body>
</html>
