<% layout('layouts/boilerplate')%>
<%- include('../partials/header') %>
<h1>Decouvrez tous les festivals !</h1>

<section id="favorites">
    <h2>Coup de <i class="fa-regular fa-heart"></i></h2>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <% for(const fest of favoriteFests) {%>
                <div class="swiper-slide"><a href="/fests/<%= fest.id %>"><img src="<%= fest.carousel %>" alt="<%= fest.name %>" /></a></div>
            <% } %>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    <div>
</section>
<script src="/libs/js/swiper-bundle.min.js"></script>
<script src="/js/carousel.js"></script>




