<% layout('layouts/boilerplate')%>

<section id="map">
  <h2>Carte interactive</h2>
  <small>Explorez notre carte interactive pour repérer facilement l'emplacement de chaque festival, et obtenez un aperçu des différents artistes qui se produiront lors de ces événements exceptionnels. De plus, nous vous fournissons des détails sur le nombre de festivaliers attendus, vous permettant ainsi de choisir entre des ambiances plus intimes ou des foules en délire.</small>
</section>



<section id="favorites">
    <h2>Coup de <i class="fa-regular fa-heart"></i></h2>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <% for(const fest of favoriteFests) {%>
                <div class="swiper-slide"><a href="/fests/<%= fest.id %>"><img src="<%= fest.carousel %>" alt="<%= fest.name %>" /></a></div>
            <% } %>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    <div>
</section>
<script src="/libs/js/swiper-bundle.min.js"></script>
<script src="/js/carousel.js"></script>




