<% layout('layouts/boilerplate')%>

<div class="form-login-container">
    <h3>Connectez-vous</h3>
    <div class="modal-body">
        <form action="/login" method="post">
        <div class="form-control">
            <label for="lPageUsername">Nom d'utilisateur</label>
            <input type="text" name="username" id="lPageUsername" placeholder="Nom d'utilisateur">
            <small></small>
        </div>
        <div class="form-control">
            <label for="lPagePassword">Mot de passe</label>
            <input type="password" name="password" id="lPagePassword" placeholder="Mot de passe">
            <small></small>
        </div>
        <button type="submit" class="button btn-submit-user">Se connecter</button>
        </div>
    </form>
</div>